doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content

  footer
    <a href="http://localhost:3000/">Inicio</a>
    <a href="http://localhost:3000/users">Usuario</a>
    <a href="http://localhost:3000/users/cool">¿Eres genial?</a>