body {
  padding: 20px;
  font: 20px "Lucida Grande", Helvetica, Arial, sans-serif;
  text-align: center;
  color: brown;
}

footer {
  text-align: center;
}

h1 {
  color: blueviolet;
  font: 40px Arial;
  text-align:center;
}

a {
  margin-left: 20px;
  color: red;
  margin-right: 20px;
  font-family: "Times New Roman";
}
